    <!-- Javascript -->
    <div style="display:none">
      <script src="https://s11.cnzz.com/z_stat.php?id=1261156527&web_id=1261156527" language="JavaScript"></script>
    </div>
    <script type="text/javascript" src="{{ .Site.BaseURL }}assets/plugins/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="{{ .Site.BaseURL }}assets/js/main.js"></script>
